/** Generale **/




/**Navigation**/

	
#navigation nav{
	background-image: url("../images/background.jpg");
	background-repeat : no-repeat;
	background-size: 100% auto;
	background-position: bottom; 
	
	height:100%;
}

#navigation .menu>ul{
	list-style-type:none;
}

#navigation .menu>ul>li>ul>li>a{
	color:white;
}

#navigation .menu a{
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
}

#navigation .menu-lien li{
	text-align:center;
	border-left : 2px solid white;
}

#navigation .menu>ul{
	margin-bottom :0;			
}

#navigation .menu-lien{
	margin-top: 40px;
}

#navigation .menu-connection{
	font-size: 14px;
	color: white;
}



/**xs sm **/
@media (max-width: 767px) {
	#navigation .navbar-brand .logo, #navigation .navbar-brand a{
		height: 35px;
	}

	h1{
		font-size: 20px;
	}
}

/**lg md**/
@media (min-width: 768px){
	#navigation .navbar-brand .logo, #navigation .navbar-brand a{
		height: 80px;
	}
	h1{
		font-size: 30px;
		margin-top: 15px;
	}
}

/** Cartel - affiche tous les produits index **/
.bloc-cartel{
	background-color: #eee;
	box-shadow: 2px 2px 12px #aaa;
	margin-top: 20px;
	text-align: center;

	margin-left: 40px;

	
	
}

.bloc-cartel h2 {
	font-size: 22px;
	margin-top: 15px;
	font-family: serif;
	text-decoration:none;
	
}
a:hover h2{
		text-decoration:none;
}
a:-webkit-any-link {
	text-decoration:none;
}

.bloc-cartel .bloc_img{
	height: 300px; 
	overflow:hidden;
}

.bloc-cartel .img_batiment{
	font-size: 22px;
	margin-top: 5px;
	font-family: serif;
	opacity:0.8;
	width: 100%;
 
	margin:  -100px 0; /**recadrage**/

}
.bloc-cartel:hover .img_batiment{
	opacity:1;
}


/** Product **/

#product{
		margin-top: 20px;
}



